*.log
COPYING INSTALL install-sh missing
Makefile.in
Makefile
aclocal.m4
stamp-h1
*/.deps
.deps
*.Po
*.o
autom4te.cache/
/src/anger_tools.*
autom4te.cache/output.0 autom4te.cache/output.1 autom4te.cache/requests autom4te.cache/traces.0 autom4te.cache/traces.1
autom4te.cache/*
/autom4te.cache
autom4te.cache
/*.out
